.App {
    text-align: left;
    margin-top:20px;
    padding-left : 350px;
  }
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    height: 10%;
    border: 1px solid grey;
    float: center;
    margin-left: 360px;
    width: 38%;
    background: #fff;
  }